apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    ignition.service: gateway
  name: gateway
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      ignition.service: gateway
  template:
    metadata:
      creationTimestamp: null
      labels:
        ignition.service: gateway
    spec:
      containers:
      - args:
        - -n
        - docker-test
        - -m
        - "1024"
        - --
        - wrapper.java.initmemory=512
        - -Dignition.allowunsignedmodules=true
        envFrom:
        - configMapRef:
            name: gateway-configmap
        image: docker.io/inductiveautomation/ignition:8.1.17
        name: gateway
        ports:
        - containerPort: 8088
        resources: {}
        volumeMounts:
        - mountPath: /usr/local/bin/ignition/data
          name: gw-data
        - mountPath: /run/gateway-secrets
          name: gateway-admin-password
          readOnly: true
      restartPolicy: Always
      volumes:
      - name: gw-data
        persistentVolumeClaim:
          claimName: gw-data
      - name: gateway-admin-password
        secret:
          secretName: gateway-admin-password
      initContainers:
      - name: init-data
        image: image-registry.openshift-image-registry.svc:5000/{{ .Release.Namespace }}/ignition-init:0.0.5
        volumeMounts:
        - mountPath: /usr/local/bin/ignition/data
          name: gw-data
      serviceAccountName: ignition-service-account
status: {}
